
**write a machine learning code in python-loading data from a file and normalization operation**

In [15]:
# Import necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Load data from a file (replace 'data.csv' with your file path)
data = pd.read_csv('/content/organizations-100.csv')

# Separate the target variable (if applicable)
# Example: Assuming the target variable is in a column named 'target'
# y = data['target']
# X = data.drop(columns=['target'])

# Identify non-numeric columns and exclude them from scaling
non_numeric_cols = data.select_dtypes(exclude=[np.number]).columns
data_numeric = data.drop(columns=non_numeric_cols)

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Normalize the numeric data
normalized_data = scaler.fit_transform(data_numeric)

# Create a DataFrame from the normalized data (if needed)
normalized_df = pd.DataFrame(normalized_data, columns=data_numeric.columns)

# Merge the non-numeric columns back into the DataFrame
for col in non_numeric_cols:
    normalized_df[col] = data[col]

# Print the first few rows of the normalized data (optional)
print(normalized_df.head())

      Index   Founded  Number of employees  Organization Id  \
0  0.000000  0.392157             0.334256  FAB0d41d5b5d22c
1  0.010101  0.882353             0.483246  6A7EdDEA9FaDC52
2  0.020202  0.019608             0.517574  0bFED1ADAE4bcC1
3  0.030303  0.666667             0.070192  2bFC1Be8a4ce42f
4  0.040404  0.411765             0.782252  9eE8A6a4Eb96C24

                      Name                         Website           Country  \
0              Ferrell LLC              https://price.net/  Papua New Guinea
1  Mckinney, Riley and Day  http://www.hall-buchanan.info/           Finland
2               Hester Ltd       http://sullivan-reed.com/             China
3           Holder-Sellers             https://becker.com/      Turkmenistan
4              Mayer Group          http://www.brewer.com/         Mauritius

                                      Description                     Industry
0             Horizontal empowering knowledgebase                     Plastics
1             User-centric system-worthy leverage  Glass / Ceramics / Concrete
2                  Switchable scalable moratorium                Public Safety
3  De-engineered systemic artificial intelligence                   Automotive
4              Synchronized needs-based challenge               Transportation

**Normalizing an Array Using the normalize() Function**

In [16]:
from sklearn import preprocessing
import numpy as np

x_array = np.array([2,3,5,6,7,4,8,7,6])

normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.11785113 0.1767767  0.29462783 0.35355339 0.41247896 0.23570226
  0.47140452 0.41247896 0.35355339]]

**Normalizing Datasets by Row or by Column Using the normalize() Function**

https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html#sklearn.datasets.fetch_california_housing

In [17]:
from sklearn import preprocessing
import pandas as pd

from sklearn.datasets import fetch_california_housing
california_housing = fetch_california_housing(as_frame=True)

d = preprocessing.normalize(california_housing.data)
scaled_df = pd.DataFrame(d, columns=california_housing.data.columns)
print(scaled_df)

         MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  \
0      0.023848  0.117447  0.020007   0.002933    0.922391  0.007321
1      0.003452  0.008734  0.002594   0.000404    0.998535  0.000877
2      0.014092  0.100971  0.016093   0.002084    0.963106  0.005441
3      0.009816  0.090449  0.010119   0.001866    0.970590  0.004432
4      0.006612  0.089394  0.010799   0.001859    0.971303  0.003750
...         ...       ...       ...        ...         ...       ...
20635  0.001825  0.029242  0.005902   0.001326    0.988384  0.002995
20636  0.006753  0.047539  0.016147   0.003475    0.940212  0.008247
20637  0.001675  0.016746  0.005128   0.001103    0.991926  0.002291
20638  0.002483  0.023932  0.007086   0.001558    0.985188  0.002823
20639  0.001715  0.011486  0.003772   0.000834    0.995727  0.001879

       Latitude  Longitude
0      0.108510  -0.350136
1      0.015745  -0.050829
2      0.073495  -0.237359
3      0.065837  -0.212643
4      0.065069  -0.210162
...         ...        ...
20635  0.046179  -0.141637
20636  0.104295  -0.320121
20637  0.038840  -0.119405
20638  0.052424  -0.161300
20639  0.028264  -0.087038

[20640 rows x 8 columns]